<div class="info-box">
  <div class="telp">Tel: +62812-6039-785</div>
  <div class="open-hours">Buka: Senin s/d Sabtu Jam 08:00 - 17:00 wib</div>
  <div class="alamat">Jl. Gatot Subroto no.100 C, Medan</div>
</div>