<div class="carousel-item">
  <div class="card text-center">
    <img src="images/gambar1.jfif" alt="" class="d-block w-100">
    <div class="card-body">
      <h5 class="card-title ">Card title 1</h5>
    </div>
  </div>
</div>