<div class="col-md">
  <div class="card">
    <img src="images/gambar2.png" alt="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Nama Barang</h5>
      <p class="card-text " >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate quia, vitae laudantium
        voluptas non perferendis tempora ab incidunt rem eligendi numquam enim ad ea vero consequuntur quos ex maxime
        nobis!
        Aliquam, quidem! Nemo corporis ipsum neque eveniet exercitationem molestiae omnis debitis similique esse. Velit
        a libero, autem dolorum hic veritatis quis illo sit reprehenderit provident officiis magnam omnis aut
        doloremque!
        Eos voluptate veniam, fugit illum reprehenderit explicabo consectetur fuga itaque, vel consequatur perferendis
        aspernatur excepturi dolor molestiae saepe! Nemo voluptates quasi suscipit in laboriosam iusto mollitia facere
        dolores vero ex.
        Voluptatum laudantium, ratione dignissimos maxime molestiae maiores eum, aspernatur qui alias nihil nisi,
        blanditiis voluptas omnis beatae. Perferendis nam, accusantium, distinctio provident aperiam molestias eligendi
        similique rem, incidunt porro natus?</p>
    </div>
    <div class="container text-center">
      <a href="#" class="btn btn-primary btn-md">Go Somewhere</a>
    </div>
  </div>
</div>