<!-- <h1>Helo, dunia</h1> -->

<% if (Object.keys(params).length == 0) { %>
  <h1>Disini ga ada parameter</h1>
<% } %>

<% if(Object.keys(params).length != 0) { %>
<h1>Disini ada parameter</h1>
<% } %>
