<!-- Header section -->
<div class="header-section text-center mt-2">
  <p class="header-title">AstroWater Solution</p>
  <p style="margin-bottom: 40px; font-size: 30px;">SOLUSI PENGOLAHAN AIR INDUSTRI DAN RUMAH TANGGA </p>
</div>

<div class="img-header text-center">
  <!-- <p style="padding-top: 150px;">hello, world</p> -->
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Masukkan barang yang anda cari...">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <p style="font-size: 25px; text-decoration: underline;">&gt;&gt;Lihat semua barang&lt;&lt;</p>
  <!-- <div class="wrap">
  </div> -->
</div>
<!-- end of header section -->