<img src="images/gambar1 - rm.jfif" alt="" class="img-fluid rounded mx-auto d-block" style="width: 60%">

<div class="wrap mt-2">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Masukkan barang yang anda cari...">
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>